#rand-header-profile-image {
    width: 45px;
}

.rand-header-container {
    height: 55px;
}

.rand-dropdown a.dropdown-toggle {
    color: #fff;
    padding: 4px;
}

.rand-dropdown a.dropdown-toggle::after {
    display: none;
}
